<div class="modal" id="status-modal">
    <a href="#" class="modal-overlay status-modal-close" aria-label="Close"></a>
    <div class="modal-container py-5">
        <div class="modal-body">
            <div class="content">
                <div class="d-inline-block v-top">
                    <figure class="avatar avatar-lg" data-initial="He">
                        <img src="https://files.hexandcube.tk/images/avatar.png">
                        <i class="avatar-presence status-avatar-presence"></i>
                    </figure>
                </div>
                <div class="d-inline-block ml-2">
                    <h4 class="font-secondary no-margin">Hexandcube</h4>
                    <span class="status-status text-capitalize">Loading</span>
                </div>
                <div class="d-none" id="status-activity">
                    <h6 class="no-margin pt-5" id="status-activity-name"></h6>
                    <div id="status-activity-details"></div>
                    <div id="status-activity-state"></div>
                </div>
            </div>
        </div>
    </div>
</div>