<!-- Theme switcher -->
<script>
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
        themeToggle = document.getElementById("theme-toggle-label");
        if (themeName === 'dark') {
            themeToggle.innerHTML = '<i class="far fa-sun"></i>'
        } else themeToggle.innerHTML = '<i class="far fa-moon"></i>'
    }

    function toggleTheme() {
        if (localStorage.getItem('theme') === 'light') {
            setTheme('dark');

        } else {
            setTheme('light');
        }
    }
    // Automaticly apply theme on load
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            setTheme('dark');
        } else if (localStorage.getItem('theme') === 'light') {
            setTheme('light');
        } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    }

    // Sets the theme of the Utterances comment widget
    addEventListener('message', event => {
        if (event.origin !== 'https://utteranc.es') return;
        if (localStorage.getItem('theme') === 'dark') {
            const message = {
                type: 'set-theme',
                theme: 'photon-dark'
            };
            const utterances = document.querySelector('iframe').contentWindow;
            utterances.postMessage(message, 'https://utteranc.es');
        }
    });
</script>

<!-- Status widget and modal script -->
{{ partial "statusWidget/script"}}

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "ac63d331b6df43bd83a97ae8974d3212"}'></script>

<!-- Service Worker -->
<script>
    if ('serviceWorker' in navigator) {
        console.info("Service Worker supported, registering...")
        navigator.serviceWorker.register('/serviceworker.js')
            .then(reg => {
                console.info(`Service Worker Registered (Scope: ${reg.scope})`);
            })
            .catch(error => {
                console.error(`Service Worker registration failed: (${error})`);
            });
    } else console.warn("Service worker not available: not supported by browser")
</script>